<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
<body>

<div class="wrapper" id="page-wrapper">
    <div class="container">
        <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-5 mt-2">
            <h2> RESET PASSWORD</h2>
        </div>
        <div th:if="${invalidemail}" class="alert alert-danger text-center" role="alert">
            <h5>Email is Incorrect!</h5>
        </div>
        <div th:if="${emailsent}" class="alert alert-success text-center" role="alert">
            <h5>Please check your email for password reset!!</h5>
        </div>
        <form th:action="@{/forgotPassword}" method="post">
            <div class="row">
                <div class="col-md-10 input-round">
                    <div class="form-group">
                        <h5>Enter your email</h5>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <input type="submit" class="btn btn-primary btn-sm mb-2" value="Reset Password"><br>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>