<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:fragment="headerfiles">
    <!--icon kit-->
    <script src="https://kit.fontawesome.com/ef8993b96a.js" crossorigin="anonymous"></script>
    <!--    import react dependency for literally canvas-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

    <!--comment-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LevelCreator - A Collaborative Level Building Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
<!--        literally canvas css and js-->
    <link th:href="@{/css/literallycanvas.css}" rel="stylesheet">
    <script src="/js/literallycanvas.js"></script>

<!--        <link th:href="@{/css/style_1.css}" rel="stylesheet">-->
</head>

<head th:fragment="headerfiles-form">
    <!--icon kit-->
    <script src="https://kit.fontawesome.com/ef8993b96a.js" crossorigin="anonymous"></script>

    <!--comment-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LevelCreator - A Collaborative Level Building Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/style.css}" rel="stylesheet">-->
    <link th:href="@{/css/style_1.css}" rel="stylesheet">

</head>

<body>
<div th:fragment="nav">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#BBF8FC">
        <a class="navbar-brand" href="/levelcreator">LevelCreator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/myWork">My Work</a>
                </li>

                <li sec:authorize="isAuthenticated()"  class="nav-item">
                    <a class="nav-link" href="/teamWork">Team Work</a>
                </li>
            </ul>

            <form class="form-inline mt-5 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a sec:authorize ="isAuthenticated()" class="nav-link" href="/profile"><i class="fas fa-user mx-1"></i><span sec:authentication="name"></span></a>
                </li>
                <li class="nav-item">
                    <a sec:authorize ="isAuthenticated()" class="nav-link" href="/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize ="!isAuthenticated()" class="nav-link" href="/registration">Join us</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize ="!isAuthenticated()" class="nav-link" href="/login">Has an Account</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div id="collaborators" th:fragment="collaborators">
    <form method="POST">
        <div th:if="${UserNotExist}" class="alert alert-danger text-center mx-4 py-1" role="alert">
            <h6>User Not Exist.</h6>
        </div>
    <ul id="collaboratorList" class = "list-group" th:each = "collaborator, stat : ${collaborators}">
        <li class="list-group-item d-flex justify-content-between align-items-center mx-4 px-3" style="padding:unset;">
            <p th:text="${collaborators[__${stat.index}__].username}"/>
            <button type="button" class="badge badge-secondary badge-pill" th:onclick="removeCollaborator([[${collaborators[__${stat.index}__].username}]])">-</button>
        </li>
    </ul>
    <div class="form-inline p-2">
        <div class="col-auto">
            <input type="text" id="collaboratorName" placeholder="Username">
        </div>
        <div class="col-auto">
            <div class="row">
                <button type="button" class="badge badge-secondary badge-pill ml-4" onclick="addCollaborator()">+</button>
            </div>
            <div class="row">
                <button type="button" class="badge badge-secondary badge-pill" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    </form>
</div>



</body>
</html>