<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">
    <title>LevelCreator - A Collaborative Level Building Tool</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>


<body>

<div th:replace="fragments.html :: nav"></div>

<div class="container m-2" style="max-width: 100% ">
    <div class="row" th:fragment="list" xmlns:th="http://www.thymeleaf.org">
        <div class="col-sm-3" th:each="project, stat: ${projects}" style="padding:2%;">
            <div class="card mb-3 projectCard">
                <img class="card-img-top" th:src="${project.screenshot}"/>
                <div class="card-body">
                    <h5 class="card-title cardProjectTitle" th:title="${project.name}" th:text="${project.name}"/>
                    <h6 class="text-muted" th:text="'By: '+ ${project.user.username}"/>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>