<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{css/indexsub.css}"/>
    <title>LevelCreator - A Collaborative Level Building Tool</title>

</head>

<body>

<header th:insert="fragments.html :: nav"></header>

<div class="container" style="max-width: 2000px ">

    <div class="d-flex flex-row justify-content-end">
        <div sec:authorize ="isAuthenticated()" class="custom-control custom-switch followbutton">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Following User</label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; margin:auto;">
                <img src="../images/sample1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tree Map</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Will Lee</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; margin:auto;">
                <img src="../images/sample2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mario Maker</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Bobby Lee</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; margin:auto;">
                <img src="../images/sample3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sand Biome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Teal Jin</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin:auto;">
                <img src="../images/sample4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jumping Course</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Mike Johnson</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;margin:auto;">
                <img src="../images/sample5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hamster Maze</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Kelly Lorin</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin:auto;">
                <img src="../images/sample6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Greenville</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Jammi Lani</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin:auto;">
                <img src="../images/sample7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cactus Racecourse</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Sven Tree</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin:auto;">
                <img src="../images/sample8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Colorful Jump</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: Rdik Tomy</h6>
                </div>
            </div>
        </div>
    </div>

    <div class=" row">
        <nav aria-label="Page navigation example" style="margin:auto">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>