<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles-form">
    <title>Log in</title>
</head>
<body class="login">
<div class="container">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="form-login-1">
            <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <!-- Thymeleaf + Spring Security error display -->
                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username or password.
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <!--  Login Controls-->
                    <div class = "row" id="row-1">
                        <div class = "col" id="login-col-1" >
                            <img src="images/levelcreator_logo_1.png" class="logo-1">
                        </div>
                        <div class = "col" id = "login-col">
                            <h4> Sign In </h4>
                            <div class="form-group form-inline">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Email">
                            </div>

                            <div class="form-group form-inline">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password">
                            </div>
                            <br>
                            <!-- Login Button -->
                            <div class ="form-actions" >
                                <button type="submit" class="btn btn-primary btn-lg" id = "login-button">Submit</button>
                            </div>

                            <div class = "login-links">
                                <a href="/forgotPassword" class = "ml-2">Forgot Password?</a>
                                <br>
                                <br>
                                <a href="/registration"> Create an Account -> </a>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>