<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">
    <title>LevelCreator - A Collaborative Level Building Tool</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>

<div th:insert="fragments.html :: nav"></div>
<!--Create New Poject Button-->
<div class="container m-2" style="max-width: 100%">
    <div class="row" th:fragment="list" xmlns:th="http://www.thymeleaf.org">
        <div class="col-sm-3" style="padding:2%;">
            <div class="card mb-3 addProjectCard" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="../images/plus.svg" class="card-img-top addButton" alt="...">
            </div>
        </div>
        <!--The popup model-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create A New Map!!</h5>
                    </div>
                    <div class="modal-body">
                        <!--                The Input Form-->
                        <!--/*@thymesVar id="project" type=""*/-->
                        <form action="#" th:action="@{/workspace}" th:object="${map}" method="POST">
                            <div class="form-group form-inline">
                                <label>Orientation:</label>
                                <select id="orientation" style="padding-left: 10px">
                                    <option value="Orthogonal">Orthogonal</option>
                                    <option value="Isometric">Isometric</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mapWidth">Enter Project Name:</label>
                                <input type="text" class="form-control" id="projectName" aria-required="true"
                                       placeholder="Enter project name" required>
                            </div>
                            <div class="form-group">
                                <label for="mapWidth">Map Width:</label>
                                <input type="number" step="1" min="1" max="100" class="form-control" id="mapWidth"
                                       placeholder="Enter map width" required>
                            </div>
                            <div class="form-group">
                                <label for="mapHeight">Map Height:</label>
                                <input type="number" step="1" min="1" max="100" class="form-control" id="mapHeight"
                                       placeholder="Enter map height" required>
                            </div>
                            <div class="form-group">
                                <label for="tileWidth">Tile Width:</label>
                                <input type="number" step="1" min="1" max="100" class="form-control" id="tileWidth"
                                       value="32"
                                       placeholder="Enter tile width" required>
                            </div>
                            <div class="form-group">
                                <label for="tileHeight">Tile Height:</label>
                                <input type="number" step="1" min="1" max="100" class="form-control" id="tileHeight"
                                       value="32"
                                       placeholder="Enter tile height" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" onclick="createMap()">Create Map</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--<div>-->
        <!--    <p th:each = "p : ${project}" th:text = "${p.name}" </p>-->
        <!--</div>-->
        <div class="col-sm-3" th:each="project, stat: ${projects}" style="padding:2%;">
            <div class="card mb-3 projectCard" th:onclick="loadContent([[${project.id}]],[[${project.mapJSON}]],[[${project.canvasJSON}]])">
                <script type="text/javascript">
                    function loadContent(theID, mapJSON, canvasJSON) {

                        let id = parseInt(theID)
                        let theMapJSON = JSON.parse(mapJSON)
                        theMapJSON.id = id
                        let theCanvasJSON = JSON.parse(canvasJSON)

                        localStorage.setItem('map', JSON.stringify(theMapJSON));
                        gridCanvas.loadFromJSON(canvasJSON)

                        // window.location = "/workspace";

                    }
                </script>

                <img class="card-img-top" th:src="${project.screenshot}"/>

                <div class="card-body">
                    <!--                        Title Of Project-->
                    <h5 class="card-title cardProjectTitle" th:title="${project.name}" th:text="${project.name}"/>
                    <!--                        Last Edited Date-->
                    <h6 class="text-muted cardProjectDate" th:title="'Last updated at '+ ${project.createdDate}"
                        th:text="'Last updated at '+ ${project.createdDate.substring(0, 10)}"/>
                    <!--                        Switch button toggle public or private-->
                    <div class="custom-control custom-switch" th:onclick="togglePublic(event,[[${project.id}]])">
                        <input type="checkbox" class="custom-control-input" th:id="'customSwitch' + ${project.id}"
                               th:checked="${project.type} ? 'checked'">
                        <label class="custom-control-label" th:for="'customSwitch'+ ${project.id}"><i
                                class="fas fa-globe-americas"></i></label>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>

<script>
    function togglePublic(event, theProjectID) {
        event.stopImmediatePropagation();

        $.ajax({
            contentType: "application/json",
            type: "PUT",
            data: JSON.stringify(theProjectID),
            url: "/togglePublic",
            success: function (data) {
                console.log('Changing type sucessfull');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('error while changing type');
            }
        });
    }
</script>
<!-- Optional JavaScript -->
<!--<script src="js/addProject.js"></script>-->
<script src="js/fabricCreateMap.js"></script>

</body>
</html>