<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">
    <title>Project</title>
</head>


<body>

<div th:insert="fragments.html :: nav"></div>

<div class="container" id="commentsContainer">
    <div class="row">
        <div class="col-lg-6">
            <h1 th:text = "${proj.name}"></h1>
        </div>
    </div>
    <div class ="row" id="commentUser">
        <div class="col-lg-6">

            <i class="fas fa-user"></i>
            <h4 th:text = "${proj.user.username}" id="user_icon"></h4>

        </div>
    </div>
    <div class ="row">
        <div class="col-lg-6">
            <img th:src="${proj.screenshot}" id="proj_sc"/>
        </div>
    </div>
    <div class ="row">
        <div class="col">
            <a th:href="@{/download/{id}(id=${proj.id})}"><button type="button" class="btn btn-primary" id="downloadButton">Download
                &nbsp;
                <i class="fas fa-download"></i></button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="card">
                    <div class="card-header">
                        Comments
                    </div>
                    <div class="card-body">
                        <form action="#" th:action="@{/saveComment/{id}(id=${proj.id})}" th:object ="${comment}" method="POST">
                            <textarea class="form-control" placeholder="Write a comment..." th:field="*{content}" rows="3" id="commentText"></textarea>
                            <br>
                            <button type="submit" class="btn btn-primary" id ="postButton">Post</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media" th:each="comment : ${comments}">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                &nbsp;
                                &nbsp;
                                <div class="media-body">
                                    <strong class="text-success" th:text="${comment.user.username}"></strong>
                                    &nbsp;
                                    &nbsp;
                                    <span class="text-muted pull-right">
                                        <small class="text-muted" th:text="${comment.date}"></small>
                                    </span>
                                    <span th:if="${comment.user.username == user.username}">
                                        <a th:href="@{/delComment/{id}(id=${comment.id})}" onclick="return confirm('Are you sure?')" id="delButton"><i class="fas fa-times"></i></a>
                                    </span>
                                    <p th:text="${comment.content}"></p>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
