<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="tileProperties">

<div id="propertyPanelModal" class="modal fade" data-keyboard="false" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header propertyPanelModalHeader propertyModalTitles">
                <h4>Properties - LevelCreator</h4>

            </div>
            <div class="modal-body setBodySize">
                <h5>Custom Properties</h5>
                <ul class="list-group" id="propertyList" style="height: 500px; overflow: auto">
<!--                    <li class="list-group-item propertyListItem">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4"><input type="text" class="propertyTextInput"></div>-->
<!--                            <div class="col-8"><input type="checkbox" class="checkBoxAndColorBox"></div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="list-group-item propertyListItem">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4"><input type="text" class="propertyTextInput"></div>-->
<!--                            <div class="col-8"><input type="color" class="checkBoxAndColorBox"></div>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li class="list-group-item propertyListItem">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4"><input type="text" class="propertyTextInput"></div>-->
<!--                            <div class="col-8"><input type="number" step="any" class="propertyTextInput"></div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="list-group-item propertyListItem">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4"><input type="text" class="propertyTextInput"></div>-->
<!--                            <div class="col-8"><input type="text" class="propertyTextInput"></div>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>

            </div>
            <div class="modal-footer propertyModalFooter">
                <button type="button" class="btn btn-default propertyModalButtons" data-toggle="modal"
                        data-target="#addPropertyModal" id="openAddPropertyModal">
                    Add Custom Property
                </button>
                <button type="button" class="btn btn-secondary" data-number="1">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPropertyModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  propertyModalTitles">
                <h3>Add Property</h3>
            </div>
            <div class="modal-body propertyModalBody">
                <input type="text" style="width: 70%" placeholder="Property Name" id="newPropertyName"
                       onkeyup="success()">
                <script>
                    function success() {
                        if (document.getElementById("newPropertyName").value === "") {
                            document.getElementById('addNewPropertyButton').disabled = true;
                        } else {
                            document.getElementById('addNewPropertyButton').disabled = false;
                        }
                    }
                </script>
                <select style="padding: 5px; width: 29%" id="newPropertyType">
                    <option value="bool">bool</option>
                    <option value="color">color</option>
                    <option value="number">Number</option>
                    <option value="string">string</option>
                </select>
            </div>
            <div class="modal-footer propertyModalFooter">
                <button type="button" class="btn btn-primary propertyModalButtons" id="addNewPropertyButton"  data-number="3" disabled>
                    OK
                </button>

                <button type="button" class="btn btn-secondary" data-number="2">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>