<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<body>


<header th:insert="fragments.html :: nav"></header>

<div class="container" style="max-width: 100%">
    <div class=" row firstRow">

        <div class="col-1 text-center tools pt-4">
            <div class="row d-flex justify-content-center">
                <h3 style="border-bottom: 3px solid">TOOLBAR</h3>
            </div>

            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-save icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-file-import icon"></i>
                </div>
            </div>
            <!--            this is test icons-->
            <div class="row iconrow">
                <div class="col">
                    <a href="#" id="lockBtn"><i class="fas fa-lock icon"></i></a>
                </div>
                <div class="col">
                    <a href="#" id="unlockBtn"><i class="fas fa-lock-open icon"></i></a>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <a href="#" id="trasBtn"><i class="fas fa-eye-slash icon"></i></a>
                </div>
                <div class="col">
                    <a href="#" id="noTrasBtn"><i class="fas fa-eye icon"></i></a>
                </div>
            </div>
            <!--            this is test icons-->
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-undo icon" id="undo"></i>
                </div>
                <div class="col">
                    <i class="fas fa-redo icon" id="redo"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-search-plus icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-search-minus icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-fill-drip icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-download icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <a href="#" id="selectBtn"><i class="fas fa-object-group icon"></i></a>
                </div>
                <div class="col">
                    <a href="#" id="eraseBtn"><i class="fas fa-eraser icon"></i></a>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <a data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit icon"></i></a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Draw Tileset</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="my-drawing"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save Tileset</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <i class="fas fa-users icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-info-circle icon"></i>
                </div>
                <div class="col">
                    <i class="far fa-file-image icon"></i>
                </div>
            </div>
        </div>

        <div class="col-8 middle">
            <div class="box" id="canvasStorage"
                 style="height:100%; width: 100%; position:relative; overflow: auto; background-color: gray;">
                <canvas id="grid_canvas"></canvas>
            </div>
        </div>

        <div class="col-2 panels">
            <div class="row">
                <div class="card card1">
                    <div class="card-header text-center">
                        <h3>LAYERS</h3>
                    </div>

                    <div style="height: 300px; overflow: auto">
                        <ul class="list-group list-group-flush" id="layerList" style="height: 300px">

                        </ul>

                    </div>
                    <div class="card-footer text-muted">
                        <i class="fas fa-arrow-down layerIcon"></i>

                        <i class="fas fa-arrow-up layerIcon"></i>

                        <i class=" fas fa-plus dropdown-toggle layerIcon" id="dropdownMenu2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"></i>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button" id="addTileLayer">Tile Layer</button>
                            <button class="dropdown-item" type="button" id="addObjectLayer">Object layer
                            </button>
                        </div>

                        <i class="fas fa-minus layerIcon" id="deleteLayer"></i>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="card card1">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link active" id="tileset1" href="#Tileset#1" data-toggle="tab">Tileset#1</a>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                    <div class="card-body" style="padding:unset;min-height: 300px;">
                        <div class="tab-content mt-3">
                            <!--                            <div class="tab-pane active" id="Tileset#1" role="tabpanel">-->
                            <!--                                <input type="file" id="realBtn" hidden="hidden" onchange="addFirstTileset(this);">-->
                            <!--                                <button type="button" id="fakeBtn" class="btn btn-secondary btn-lg btn-block"> Import-->
                            <!--                                    Tileset-->
                            <!--                                </button>-->
                            <!--                                <canvas id="canvas_1">this is canvas</canvas>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="card-footer form-inline d-flex">
                        <!--                        wanna make these in one line-->
                        <h3 class="my-1 mr-lg-5">TILESETS</h3>
                        <!--                        <h5 class = "my-1 ml-lg-5 mr-lg-5"></h5>-->
                        <input type="file" id="fileBtn" hidden="hidden" onclick="this.value = null"
                               onchange="addTileset(this);">
                        <div class="float-right ml-auto">
                            <i class="fas fa-plus tileSetIcon" id="plusBtn"></i>
                            <i class="fas fa-minus tileSetIcon" id="minusBtn"></i>
<!--                            <a href="#" class="add-tileset float-right my-1 ml-lg-5" id="plusBtn"><span class="fas fa-plus"></span></a>-->
<!--                            <a href="#" class="remove-tileset float-right my-1 ml-4" id="minusBtn"><span class="fas fa-minus"></span></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

</div>


<!-- Optional JavaScript -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>

<script>
    var canvas = LC.init(
        document.getElementsByClassName('my-drawing')[0],
        {
            imageURLPrefix: 'images'
        }
    );

    $('#exampleModal').on('shown.bs.modal', function () {
        canvas.respondToSizeChange();
    });
</script>

<!-- Optional JavaScript-->
<!--<script type="text/javascript">-->
<!--    const realFileBtn = document.getElementById("realBtn");-->
<!--    const fakeFileBtn = document.getElementById("fakeBtn");-->
<!--    fakeFileBtn.addEventListener("click", function () {-->
<!--        realFileBtn.click();-->
<!--    })-->
<!--</script>-->

<script type="text/javascript">
    const fileBtn = document.getElementById("fileBtn");
    const plusBtn = document.getElementById("plusBtn");
    plusBtn.addEventListener("click", function () {
        fileBtn.click();
    })
</script>

<!--<script src = "js/zoom.js"></script>-->
<script src="js/tabs.js"></script>
<!--<script src="js/addProject.js"></script>-->
<script src="js/fabricNumberedImage.js"></script>
<script src="js/fabricCreateMap.js"></script>
<script type="module" src="js/fabricLayerController.js"></script>
<script type="module" src="js/layerController.js"></script>
<script src="js/fabricTilesetController.js"></script>
<script type="module" src="js/fabricTileStamp.js"></script>
<!--<script src="js/tileSelection.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>
