<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:fragment="headerfiles">
    <!--icon kit-->
    <script src="https://kit.fontawesome.com/ef8993b96a.js" crossorigin="anonymous"></script>
    <!--    import react dependency for literally canvas-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

    <!--comment-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LevelCreator - A Collaborative Level Building Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--        literally canvas css and js-->
    <link th:href="@{/css/literallycanvas.css}" rel="stylesheet">
    <script src="/js/literallycanvas.js"></script>

    <!--        <link th:href="@{/css/style_1.css}" rel="stylesheet">-->
</head>

<head th:fragment="headerfiles-form">
    <!--icon kit-->
    <script src="https://kit.fontawesome.com/ef8993b96a.js" crossorigin="anonymous"></script>

    <!--comment-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LevelCreator - A Collaborative Level Building Tool</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/style.css}" rel="stylesheet">-->
    <link th:href="@{/css/style_1.css}" rel="stylesheet">

</head>

<body>
<div th:fragment="workspacenav">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#BBF8FC">
        <a class="navbar-brand" id="goHomeSign">LevelCreator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="goHome">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item" id="goWork">
                    <a class="nav-link">My Work</a>
                </li>

                <li sec:authorize="isAuthenticated()" id="goTeamWork" class="nav-item">
                    <a class="nav-link">Team Work</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" id="goToProfile" class="nav-link"><i
                            class="fas fa-user mx-1"></i><span
                            sec:authentication="name"></span></a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" id="goToLogout" class="nav-link">Log out</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/registration">Join us</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Has an Account</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel10" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel10">Saving Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding:0px !important; overflow: auto; margin: auto">
                    Would you like to save first?
                </div>
                <div class="modal-footer" style="padding:1rem !important;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <a class="nav-link" id="exitButton">
                        <button type="button" class="btn btn-secondary">No, please
                            exit.
                        </button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>