<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<body>

<header th:insert="fragments.html :: nav"></header>

<div class="container" style="max-width: 100%">
    <div class=" row firstRow">
        <div class="col-1 text-center tools pt-4">
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-save icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-file-import icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-undo icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-redo icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-search-plus icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-search-minus icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-fill-drip icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-download icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-object-group icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-eraser icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-edit icon"></i>
                </div>
                <div class="col">
                    <i class="fas fa-users icon"></i>
                </div>
            </div>
            <div class="row iconrow">
                <div class="col">
                    <i class="fas fa-info-circle icon"></i>
                </div>
                <div class="col">
                    <i class="far fa-file-image icon"></i>
                </div>
            </div>
        </div>

        <div class="col-8 middle">
            <div class="box" id="canvasStorage" style="height:660px; width: 100%; position:relative; overflow: auto;">
<!--                <canvas id="canvas" style="border:1px solid"></canvas>-->
            </div>
        </div>

        <div class="col-2 panels">
            <div class="row">
                <div class="card card1">
                    <div class="card-header">
                        <center>Layers</center>
                    </div>

                    <div class="card-body" style="height: 300px; background-color: white; overflow: auto" >
                        <ul class="list-group list-group-flush" id="layerList">

                        </ul>

                    </div>
                    <div class="card-footer text-muted">
                        <span class="fas fa-minus" style="float:right;margin-right:5px;margin-top: 5px;"></span>
                        &nbsp
                        <span class="fas fa-plus" style="float:right;margin-right:20px; margin-top: 5px;"></span>
                        &nbsp
                        <span class="fas fa-arrow-down" style="float:right;margin-right:20px;margin-top: 5px;"></span>
                        &nbsp
                        <span class="fas fa-arrow-up" style="float:right;margin-right:20px;margin-top: 5px;"></span>
                    </div>
                </div>

            </div>
<!--            <br>-->

<!--            <div class="row">-->
<!--                <div class="card card1">-->
<!--                    <div class="card-header">-->
<!--                        <ul class="nav nav-tabs card-header-tabs">-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link active" href="#">Tileset #1</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    <div class="card-body" style="height: 150px; background-color: white;">-->
<!--                        <button type="button" class="btn btn-secondary btn-lg btn-block"> Import Tileset</button>-->

<!--                    </div>-->
<!--                    <div class="card-footer text-muted">-->
<!--                        <span class="fas fa-minus" style="float:right;margin-right:5px;margin-top: 5px;"></span>-->
<!--                        &nbsp-->
<!--                        <span class="fas fa-plus" style="float:right;margin-right:20px; margin-top: 5px;"></span>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<script src="js/addProject.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>